<div class="container">

    <div class="form_row">
        <div class="form_column">
            <label for="selTransferType">Transfer Type: </label>
            <select id="selTransferType" name="selTransferType">
                <option value="1">Dealer to Dealer</option>
                <option value="2">Dealer to Demo</option>
                <option value="3">Demo to Dealer</option>
            </select>
        </div>
    </div>
    <div class="form_row">
        <div class="form_column">
            <label for="selTransferType">From: </label>
            <select id="selTransferType" name="selTransferType">
                <option value="1">Dealer to Dealer</option>
                <option value="2">Dealer to Demo</option>
                <option value="3">Demo to Dealer</option>
            </select>
        </div>
        <div class="form_column">
            <label for="selTransferType">Transfer Type: </label>
            <select id="selTransferType" name="selTransferType">
                <option value="1">Dealer to Dealer</option>
                <option value="2">Dealer to Demo</option>
                <option value="3">Demo to Dealer</option>
            </select>
        </div>
        <div class="form_column">
            <label for="selTransferType">Transfer Type: </label>
            <select id="selTransferType" name="selTransferType">
                <option value="1">Dealer to Dealer</option>
                <option value="2">Dealer to Demo</option>
                <option value="3">Demo to Dealer</option>
            </select>
        </div>
    </div>

   

      
</div>

<style>
    .container {
        background-color: burlywood;
        height: 100vh;
        width: 100vh;
    }

    .container .form_row {
        background-color: bisque;
    }

    .container .form_row .form_column {
        background-color: azure;
        display: inline-block;
        padding: 10px;
    }
</style>